@import url("http://overpass-30e2.kxcdn.com/overpass-mono.css");
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
    height:100vh;
    width:100vw;
    margin: 0 auto;
}

h1 {
    text-align: center;
    font-family: overpass-mono;
    height: 12%;
    font-size: 42px;

}

#slides {
    height: 70%;
    width: 90%;
    margin: 0 auto;
    // display: flex;
    // flex-direction: row;

}

.slide {
  height: 100%;
  width: 60%;
  margin: 0 auto;
  border:1px solid black;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;
}

.movie_text {
  border: 5px solid blue; 
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
  grid-gap: 1rem;
}

.movie_poster {
border: 5px solid pink;
margin: 2%;
}

.movie_main {
  border: 5px solid yellow;
  text-align: center;

  &--title {
    border: 5px solid red;
    font-size: 2em;
    color: white;
    font-family: overpass-mono;
  }

  &--rating{
      border: 5px solid violet;
      font-size: 2em;
      color: white;
  }

}

.fas {
  font-size: 20px;
}

.movie_info {
  border: 5px solid green;
  color: white;
  font-family: 'Roboto', sans-serif;
}

.wrap {
  overflow-x:hidden;
}
.slideInRight {
  animation-name: slideInRight; 
}
.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes slideInRight {
  from {
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.page-dot {
    position: absolute;
    width: 100%;
    margin: 0;
    bottom: 20px;
    text-align: center;
    li {
      display: inline-block;
      width: 12px;
      height: 12px;
      background-color: rgb(0, 0, 0);
      border-radius: 50%;
      margin: 0 4px;
    }
  }

.current-dot {
  background-color: rgb(255, 255, 255) !important;
  border: black solid 1px;
  width: 11px !important;
  height: 11px !important;

}
.arrow {
    border-bottom: 6px solid #000000;
    border-right: 6px solid #000000;
    position: absolute;
    display: block;
    top: 50%;
    margin-top: -20px;
    width: 40px;
    height: 40px;

  &.next {
    right: 30px;
    transform: rotate(-45deg);
    transition: right 0.5s;
    &:hover {
      right: 15px;
    }
  }

  &.previous {
    left: 30px;
    transform: rotate(135deg);
    transition: left 0.5s;
    &:hover {
    left: 15px;
    }
  }

  }


  // .slider {
  //   position: relative;
  //   width: 100%;
  //   min-height: 100vh;
  //   text-align: center;
  //   margin: 0 auto;
  //   cursor: pointer;
  //   overflow: hidden;
  //   .slider-inner {
  //     position: absolute;
  //     &:after {
  //       content: "";
  //       display: table;
  //       clear: both;
  //     }
  //     .slide {
  //       float: left;
  //       box-sizing: border-box;
  //       background-size: 100% auto;
  //       background-attachment: fixed;
  //       background-position: center center;
  //       &.slide1 {
  //         background-image: url('http://blogs-images.forbes.com/rosatrieu/files/2014/08/Valencia_market_-_lemons-1940x1454.jpg');
  //       }
  //       &.slide2 {
  //         background-image: url('http://i.huffpost.com/gen/2930708/images/o-GMO-ORANGES-facebook.jpg');
  //       }
  //       &.slide3 {
  //         background-image: url('http://blogs.kcrw.com/goodfood/wp-content/uploads/2013/05/watermelon.jpeg');
  //       }
  //       &.slide4 {
  //        background-image: url('http://lghttp.32478.nexcesscdn.net/80E972/organiclifestylemagazine/wp-content/uploads/2013/09/Blueberries-.jpg');
  //       }
  //       &.slide5 {
  //        background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/f/f2/Limes.jpg/1200px-Limes.jpg');
  //       }
  //       img {
  //         display: block;
  //       }
  //       span {
  //         cursor: default;
  //         -webkit-touch-callout: none;
  //         -webkit-user-select: none;
  //         -khtml-user-select: none;
  //         -moz-user-select: none;
  //         -ms-user-select: none;
  //         user-select: none;
  //         display: block;
  //         width: 100vw;
  //         height: 100vh;
  //         top: 12vw;
  //         font-size: 10vw;
  //         line-height: 100vh;
  //         letter-spacing: 1vw;
  //         font-family: Impact, Charcoal, sans-serif;
  //         text-shadow: 5px 5px 0px #ffffff;
  //       }
  //     }
  //   }
  // }
  
  // FROM HERE

// @import url('https://fonts.googleapis.com/css?family=Roboto');

// $slider-width: 400px;
// $slider-height: 300px;

// * { box-sizing: border-box; }

// body {
//   height: 100%;
//   background-color: #7656d6;
//   color: #333;
//   font-family: 'Roboto', sans-serif;
//   text-align: center;
//   letter-spacing: 0.15em;
//   font-size: 22px;
// }

// .slider {
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   width: $slider-width;
//   height: $slider-height;
//   box-shadow: 3px 3px 10px rgba(0,0,0,.2);
// }

// .wrapper {
//   overflow: hidden;
//   position: relative;
//   width: $slider-width;
//   height: $slider-height;
//   z-index: 1;
// }

// .slides {
//   display: flex;
//   position: relative;
//   top: 0;
//   left: -$slider-width;
//   width: 10000px;
// }

// .slides.shifting {
//   transition: left .2s ease-out;
// }

// .slide {
//   width: $slider-width;
//   height: $slider-height;
//   cursor: pointer;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   transition: all 1s;
//   position: relative;
//   background: #FFCF47;
//   border-radius: 2px;
// }

// .slider.loaded {
//   .slide:nth-child(2),
//   .slide:nth-child(7) { background: #FFCF47 }
//   .slide:nth-child(1),
//   .slide:nth-child(6) { background: #7ADCEF }
//   .slide:nth-child(3) { background: #3CFF96 }
//   .slide:nth-child(4) { background: #a78df5 }
//   .slide:nth-child(5) { background: #ff8686 }
// }

// .control {
//   position: absolute;
//   top: 50%;
//   width: 50px;
//   height: 50px;
//   background: #fff;
//   border-radius: 50px;
//   margin-top: -20px;
//   box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
//   z-index: 2;
// }

// .prev,
// .next {
//   background-size: 22px;
//   background-position: center;
//   background-repeat: no-repeat;
//   cursor: pointer;
// }

// .prev {
//   background-image: url(https://cdn0.iconfinder.com/data/icons/navigation-set-arrows-part-one/32/ChevronLeft-512.png);
//   left: -20px;
// }

// .next {
//   background-image: url(https://cdn0.iconfinder.com/data/icons/navigation-set-arrows-part-one/32/ChevronRight-512.png);
//   right: -20px;
// }

// .prev:active,
// .next:active {
//   transform: scale(.8);
// }

// TO HERE 